<!-- IF S_QR_FORM_TYPE > 0 -->
<div id="qr_text_action_box">
	<!-- IF S_BBCODE_BUTTONS -->
	<a href="javascript:void(0);" class="text_action_box_btn qr_bbcode_button" title="{L_QR_BBCODE}">
		<i class="fas fa-code"></i>
	</a>
	<!-- ENDIF -->
	<a href="javascript:void(0);" class="text_action_box_btn qr_form_hide_button" title="{L_QR_FORM_HIDE}">
		<i class="fas fa-arrow-down"></i>
	</a>
	<a href="javascript:void(0);" class="text_action_box_btn qr_more_actions_button" title="{L_QR_MORE}">
		<i class="fas fa-ellipsis-v"></i>
	</a>
</div>
<!-- ENDIF -->
